:root {
    --selected-color: #000000;
    --selected-percentage: 0%;

    --contrast-color: --color-contrast(var(--selected-color), var(--selected-percentage));
}

@function --color-contrast(--color <color>, --intensity <percentage>: 0%) returns <color> {
    /* Getting black or white and adding some color back into the mix */
    --black-or-white: oklch(from var(--color) calc((0.5 - l) * infinity) 0 0);

    result: color-mix(in oklab, oklch(from var(--black-or-white) calc(l + 0.2) c h), var(--color) var(--intensity));
}

.visualization-container {
    gap: 2rem;
}

.full-width {
    width: 100%;
    margin-top: 0.5rem;
}

.contrast-background {
    width: 100px;
    height: 100px;
    background-color: var(--selected-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contrast-foreground {
    color: var(--contrast-color);
}

div.contrast-foreground {
    width: 60px;
    height: 60px;
    background-color: var(--contrast-color);
}
