:root {
    --selected-color: #000000;
}

@function --color-contrast(--color <color>) returns <color> {
    /* Returns either negative or positive infinite for lightness, depending on if lightness is over or under 50%  */
    result: oklch(from var(--color) calc((0.5 - l) * infinity) 0 0);
}

.canvas {
    fill: none
}

.background_dark {
    fill: var(--selected-color);
}

.background_medium {
    fill: var(--selected-color);
    opacity: 0.8;
}

.background_light {
    fill: var(--selected-color);
    opacity: 0.6;
}

.foreground_dark {
    fill: --color-contrast(var(--selected-color));
}

.foreground_medium {
    fill: --color-contrast(var(--selected-color));
    opacity: 0.8;
}

.foreground_light {
    fill: --color-contrast(var(--selected-color));
    opacity: 0.6;
}

