.floating-box {
    position: fixed;
    bottom: 1.25rem;
    left: 1.25rem;
    z-index: var(--z-index-front);
    color: var(--text-color);
    background: var(--content-bg);
    padding: 1.5rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    box-shadow: var(--shadow);
    max-height: 80vh;
}

.floating-box h3 {
    display: block;
}

.floating-box svg {
    display: none;
}

@media(max-width: 800px) {
    .floating-box h3 {
        display: none;
    }

    .floating-box svg {
        display: block;
        width: 48px;
        height: 48px;
    }

    .floating-box:hover h3, .floating-box:focus-within h3 {
        display: block;
    }

    .floating-box:hover svg, .floating-box:focus-within svg {
        display: none;
    }
}

.floating-box:hover .widget-content, .floating-box:focus-within .widget-content {
    max-height: 50vh;
    max-width: 80vw;
    overflow: auto;
}

.widget-content {
    max-height: 0;
    max-width: 0;
    overflow: hidden;
}

.widget-content .accessibility-hidden {
    /* Allows to "hide" the skip links height within the widget and to fully show the focus outline */
    display: block;
    margin: 6px;
}

.widget-content summary {
    margin: 6px;
    cursor: pointer;
}

.widget-content .option {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px;
    margin: 6px 6px 6px 22px;
}

.option label, .option input {
    cursor: pointer;
    margin: 0;
}

.spinning-container {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.square {
    width: 6.25rem;
    height: 6.25rem;
    background: var(--primary-accent);
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Making sure the transition happens not on the initial page load */
.preload {
    transition: none !important;
}

/* Overwrite if motion is active */
@container style(--prefers-reduced-motion: true) {
    * {
        /* Transition the variables for color change */
        transition: --bg-color       0.3s linear,
                    --text-color     0.3s linear,
                    --content-bg     0.3s linear,
                    --border-color   0.3s linear,
                    --primary-accent 0.3s linear;
    }

    .square {
        animation: none !important;
    }

    .square {
        transition: none !important;
    }
}

/* Overwrite if Protanopia is active */
:root[style*="--prefers-colorblind-mode: protanopia;"] {
    --primary-accent: #1656b1;
}

/* Overwrite if Deuteranopia is active */
:root[style*="--prefers-colorblind-mode: deuteranopia;"] {
    --primary-accent: #005b9c;
}

/* Overwrite if Tritanopia is active */
:root[style*="--prefers-colorblind-mode: tritanopia;"] {
    --primary-accent: #006369;
}

/* Overwrite if dark theme is active */
:root[style*="--prefers-dark-theme: true"] {
    --bg-color:       #212121;
    --text-color:     #ededed;
    --content-bg:     #2e2e2e;
    --border-color:   #232323;
    --primary-accent: #6db3f4;
    --shadow:         0 2px 8px rgba(0, 0, 0, 0.5);

    color-scheme: dark;
}

/* Overwrite if dark theme AND Protanopia is active */
:root[style*="--prefers-dark-theme: true"][style*="--prefers-colorblind-mode: protanopia;"] {
    --primary-accent: #96aaee;
}

/* Overwrite if dark theme AND Deuteranopia is active */
:root[style*="--prefers-dark-theme: true"][style*="--prefers-colorblind-mode: deuteranopia;"] {
    --primary-accent: #8dabf6;
}

/* Overwrite if dark theme AND Tritanopia is active */
:root[style*="--prefers-dark-theme: true"][style*="--prefers-colorblind-mode: tritanopia;"] {
    --primary-accent: #5abac9;
}

/* Overwrite if contrast is active */
:root[style*="--prefers-contrast: true"] {
    --bg-color:       #ffffff;
    --text-color:     #000000;
    --content-bg:     #ffffff;
    --border-color:   #000000;
    --primary-accent: #00428a;
    --shadow:         none;
}

/* Overwrite if contrast AND Protanopia is active */
:root[style*="--prefers-contrast: true"][style*="--prefers-colorblind-mode: protanopia;"] {
    --primary-accent: #193788;
}

/* Overwrite if contrast AND Deuteranopia is active */
:root[style*="--prefers-contrast: true"][style*="--prefers-colorblind-mode: deuteranopia;"] {
    --primary-accent: #27438e;
}

/* Overwrite if contrast AND Tritanopia is active */
:root[style*="--prefers-contrast: true"][style*="--prefers-colorblind-mode: tritanopia;"] {
    --primary-accent: #005158;
}

/* Overwrite if contrast AND dark theme is active */
:root[style*="--prefers-dark-theme: true"][style*="--prefers-contrast: true"] {
    --bg-color:       #000000;
    --text-color:     #ffffff;
    --content-bg:     #000000;
    --border-color:   #ffffff;
    --primary-accent: #80c5ff;
    --shadow:         none;
}

/* Overwrite if dark theme AND contrast AND Protanopia is active */
:root[style*="--prefers-dark-theme: true"][style*="--prefers-contrast: true"][style*="--prefers-colorblind-mode: protanopia;"] {
    --primary-accent: #9eb6fd;
}

/* Overwrite if dark theme AND contrast AND Deuteranopia is active */
:root[style*="--prefers-dark-theme: true"][style*="--prefers-contrast: true"][style*="--prefers-colorblind-mode: deuteranopia;"] {
    --primary-accent: #adc3fe;
}

/* Overwrite if dark theme AND contrast AND Tritanopia is active */
:root[style*="--prefers-dark-theme: true"][style*="--prefers-contrast: true"][style*="--prefers-colorblind-mode: tritanopia;"] {
    --primary-accent: #61d4d6;
}

@container style(--prefers-contrast: true) {
    .card, .floating-box, header {
        outline: 2px solid var(--border-color);
    }

    .card, .floating-box {
        border: 1px solid var(--content-bg);
    }
}