:root {
    --canvas: #FFFFFF;
    --background-dark: #637a70;
    --background-medium: #637a70;
    --background-light: #637a70;
    --foreground-dark: #fd5e3a;
    --foreground-medium: #fd5e3a;
    --foreground-light: #fd5e3a;
}

.canvas {
    fill: var(--canvas);
}

.background_dark {
    fill: var(--background-dark);
}

.background_medium {
    fill: var(--background-medium);
}

.background_light {
    fill: var(--background-light);
}

.foreground_dark {
    fill: var(--foreground-dark);
}

.foreground_medium {
    fill: var(--foreground-medium);
}

.foreground_light {
    fill: var(--foreground-light);
}

body[data-vision="protanopia"] {
    filter: url(#protanopia-filter);
}
body[data-vision="deuteranopia"] {
    filter: url(#deuteranopia-filter);
}
body[data-vision="tritanopia"] {
    filter: url(#tritanopia-filter);
}
body[data-vision="regular"] {
    filter: none;
}
