:root {
    --canvas: #FFFFFF;
    --background-dark: #000000;
    --background-medium: #000000;
    --background-light: #000000;
    --foreground-dark: #FF0000;
    --foreground-medium: #FF0000;
    --foreground-light: #FF0000;
}

.canvas {
    fill: var(--canvas);
}

.background_dark {
    fill: var(--background-dark);
}

.background_medium {
    fill: var(--background-medium);
}

.background_light {
    fill: var(--background-light);
}

.foreground_dark {
    fill: var(--foreground-dark);
}

.foreground_medium {
    fill: var(--foreground-medium);
}

.foreground_light {
    fill: var(--foreground-light);
}

