.kanban {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

section {
    display: grid;
    grid-template-rows: auto 1fr;
}

ol {
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 0.25rem;
    list-style-type: none;
}

li {
    background-color: var(--content-bg);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    margin: 0.25rem;
    padding: 0.8rem;
    cursor: grab;
}

.tile-header {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0.5rem;
}
