:root {
    --ON: ;
    --OFF: initial; /* Guaranteed invalid value according to W3C specs: https://www.w3.org/TR/css-variables-1/#guaranteed-invalid-value  */

    --prefers-dark-theme: false;
    --is-light-theme: var(--ON);
    color-scheme: light;

    /*
     * Defining colors for both themes
     */
    --color-background--light:         var(--is-light-theme) #fcfcfc;
    --color-background--dark:                                #212121;
    --color-text--light:               var(--is-light-theme) #222222;
    --color-text--dark:                                      #ededed;
    --color-content-background--light: var(--is-light-theme) #ffffff;
    --color-content-background--dark:                        #2e2e2e;
    --color-border--light:             var(--is-light-theme) #eeeeee;
    --color-border--dark:                                    #232323;
    --color-primary-accent--light:     var(--is-light-theme) #0056b3;
    --color-primary-accent--dark:                            #6db3f4;
    --shadow--light:                   var(--is-light-theme) 0 2px 8px rgba(0, 0, 0, 0.1);
    --shadow--dark:                                          0 2px 8px rgba(0, 0, 0, 0.5);


    /*
     * Setting colors with the toggle trick
     */
    --bg-color:       var(--color-background--light,         var(--color-background--dark));
    --text-color:     var(--color-text--light,               var(--color-text--dark));
    --content-bg:     var(--color-content-background--light, var(--color-content-background--dark));
    --border-color:   var(--color-border--light,             var(--color-border--dark));
    --primary-accent: var(--color-primary-accent--light,     var(--color-primary-accent--dark));
    --shadow:         var(--shadow--light,                   var(--shadow--dark));
}

:root[style*="--prefers-dark-theme: true"] {
    --is-light-theme: var(--OFF);
    color-scheme: dark;
}

:root[style*="--prefers-dark-theme: false"] {
    --is-light-theme: var(--ON);
    color-scheme: light;
}